// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$card-bg: #e6e5e1;
$dribbble-color: #ea4b89;
$twitter-color: #68aade;
$facebook-color: #3b5999;

html {
  min-height: 100%;
}

body {
  background-color: transparent;
}

.question{
  margin: 10px 0px 10px 0px;
}

.btn-question-submit{
  background-color: #563d7c;
  border-color: black;
}

.btn-question-submit:hover{
  background-color: #281743;
  border-color: black;
}

.custom-file-label::after{
  height: 29px;
  padding: 3px;
}

.sticky{
  position:sticky;
  top:70px;
}